 <div class="jumbotron">
    <div class="container">
  <h3>Add User</h3>
<form [formGroup] ="userAddDetails" (ngSubmit) ="onSubmit()">

    <div class="form-group">
        <label for="name">Name: </label>
        <input type="text"  id="name" formControlName="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="age">Age: </label>
        <input type="text"  id="age" formControlName="age" class="form-control">
    </div>
    <div class="form-group">
        <label for="city">City: </label>
        <input type="text"  id="city" formControlName="city" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit"> Submit</button>
    &nbsp;
    <button class="btn btn-primary" disabled type="Update"> Update</button>
</form>
    </div>
</div> 
